{% extends "base.html" %}

{% block content %}
<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <div class="heading-block">
              <h2><img src="{{ config.STATIC_URL }}/snappass/images/lock.svg" alt=""> Share Secret Link</h2>
          </div>    

          <p>The secret has been temporarily saved. Send the following URL to your intended recipient.</p>

          <div class="input-group copy-link">
            <span class="input-group-addon"><img src="{{ config.STATIC_URL }}/snappass/images/shield.svg" alt=""></span>
                      
            
              <input type="text" class="form-control" id="password-link" value="{{ password_link }}" readonly="readonly">
            

              <span class="input-group-addon">
                <button title="Copy to clipboard" type="button" class="copy-clipboard-btn"
                      id="copy-clipboard-btn" data-clipboard-target="#password-link"
                      data-placement='bottom'>
                  <img src="{{ config.STATIC_URL }}/snappass/images/copy.svg" alt="">
                </button>
              </span>
            
          </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
