{% extends "base.html" %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="heading-block">
                    <h2><img src="images/lock.svg" alt="">Secret</h2>
                </div>

                <p>Save the following secret to a secure location.</p>

                <div class="input-group copy-link">
                  <span class="input-group-addon"><img src="images/shield.svg" alt=""></span>

                  
                    <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ password }}</textarea>
                  

                    <span class="input-group-addon">
                      <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn"
                            id="copy-clipboard-btn" data-clipboard-target="#password-text"
                            data-placement='bottom'>
                        <img src="images/copy.svg" alt="">
                      </button>
                    </span>
                  

                </div>
                <p>The secret has now been permanently deleted from the system, and the URL will no longer work. Refresh this page to verify.</p>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
