{% extends "base.html" %}

{% block content %}
<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="heading-block">
            <h2><img src="{{ config.STATIC_URL }}/snappass/images/lock.svg" alt="">Set Secret</h2>
          </div>
      
      
          <form role="form" id="password_create" method="post" autocomplete="off">
            
              <div class="input-group">
                 <span class="input-group-addon"><img src="{{ config.STATIC_URL }}/snappass/images/shield.svg" alt=""></span>
                <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient." aria-describedby="basic-addon1" autocomplete="off" required></textarea>
              </div>
            

              <div class="lower-block">
                <select class="form-control" name="ttl">
                  <option value="Two Weeks">Two Weeks</option>
                  <option value="Week" selected="selected">Week</option>
                  <option value="Day">Day</option>
                  <option value="Hour">Hour</option>
                </select>

                <button type="submit" class="btn btn-primary" id="submit">Generate URL <img src="{{ config.STATIC_URL }}/snappass/images/arrow-right.svg" alt=""></button>
              </div>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
